<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load static %}
{% load timesheets_extras %}
<link href="../../static/timesheets/styles_wide.css" rel="stylesheet" />

<body>

<div class="title">
  <h1><a href="dashboard.html">TimeSheets</a></h1>
</div>

<!-- Form Module-->
<div class="module form-module">
  <div class="block">
  </div>
    <div class="form">
        <h2>Welcome {{ request.user }}!</h2>
        <h2> Thank for logging in.</h2>
        {% if request.user|has_group:"managers" %}
            {% for user_in_group in user %}
                <li><a href="{% url 'approve_timesheet' %}"> {{ user_in_group.username }}</a></li>
                <br>
            {% endfor %}
        {% endif %}
        {% if request.user|has_group:"employees" %}
            {% for obj in object_list %}
                {% if obj.employee == request.user %}
                    <br/>
                    {% url "detail" id=obj.id %}
                    <a href="{{ obj.get_absolute_url }}"> {{ obj.employee }}</a>
                    <br/>
                    {{ obj.submission_date }}<br/>

                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'userLogout' %}">
            <button action="submit">Logout</button>
           {% csrf_token %}
        </form>
        <form method="POST" action="{% url 'create_timesheet' %}">
            <button action="submit">Create Timesheet</button>
           {% csrf_token %}
        </form>


    </div>
</div>
</body>
</html>