<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% load static %}
<link href="../../static/timesheets/styles.css" rel="stylesheet" />
</head>
<body>
<div class="title">
<h1><a href=".">TimeSheets</a></h1>
</div>

<!-- Form Module-->
<div class="module form-module">
<div class="block">

</div>
<div class="form">
    <h2>Reset your password</h2>
    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->

       <!-- If there are non-field errors in the form,
            iterate over them one by one and display them.
        -->
        {% if form.non_field_errors %}
            <p class="error">
                {% for error in form.non_field_errors %}
                    <font color="red">{{ error }}</font>
                {% endfor %}
            </p>
        {% endif %}
       <!-- Iterate over the fields in a form and render them  -->
        {% for field in form %}
        <div class="form-group">
          <!-- Render the field label tag -->
              {{ field.label_tag }}
          <!-- If the field is required, display a * next to the field label -->
          {% if field.field.required %}
          *
          {% endif %}
          <br/>
          <!-- Render the input field -->
              {{ field }}
            <!-- Iterate over the field's errors, if any and display
             them one by one in a error alert
        -->
            {% if field.errors %}
              <p class="error">
              {% for error in field.errors %}
                <font color="red">{{ error }}</font>
              {% endfor %}
              </p>
            {% endif %}
        </div>
      {% endfor %}
        <button>Submit</button>

  </form>
</div>
<form action="." method="get">
<input type="submit" value="Back">
</form>
</div>
</body>
</html>