<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load static %}
<link href="../../static/timesheets/styles.css" rel="stylesheet" />

<body>

<div class="title">
  <h1><a href=".">TimeSheets</a></h1>
</div>

<!-- Form Module-->
<div class="module form-module">
  <div class="block">

  </div>
    <div class="form">
        {% if errors %}
        <h2 align="center"><font color="red">Error sending mail!</font></h2>
        {% endif %}
        {% if not errors %}
        <h2 align="center">Password sent to your mail successfully!</h2>
        {% endif %}
    </div>
    <div class="cta"><a href=".">Back to Login</a></div>
</div>
</body>
</html>