<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load static %}
<link href="../../static/timesheets/styles.css" rel="stylesheet" />

<body>

<div class="title">
  <h1><a href="dashboard.html">TimeSheets</a></h1>
</div>

<!-- Form Module-->
<div class="module form-module">
  <div class="block">

  </div>
  <div class="form" align="center">
      <h2> Timesheet Detail</h2>
      <table>
          <tr><td>Employee name: </td><td> {{ instance.employee }}</td></tr>
          <tr><td>Submission date: </td><td> {{ instance.submission_date }}</td></tr>
          <tr><td>Total hours worked: </td><td> {{ instance.total_hours_worked }}</td></tr>
          <tr><td>Total hours break: </td><td>{{ instance.total_hours_break }}</td></tr>
          <tr><td>Approved Manager </td><td>{{ instance.approving_manager }}</td></tr>
          <tr><td>Timesheet id: </td><td>{{ instance.id }}</td></tr>
      </table>


  </div>

<div class="cta"><a href="dashboard.html">Back to Dashboard</a></div>
</div>
</body>
</html>